section.repository-list {
    margin: 40px;
}
h1 {
    margin-bottom: 3rem;
}

.repository-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75vw;

    li {
        border: 1px solid #382d43;
        border-radius: 20px;
        padding: 20px;
        padding-right: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;

        svg {
            font-size: 1.3rem;
            color: #382d43;
        }

        & + li {
            margin-top: 20px;
        }
        p {
            font-size: 14px;
            color: #ffffff;
            margin-top: 8px;
        }
        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257e6;
        }
    }
.box-right {

}

}